#addTaskContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%; /* Make the container full width */
}

#taskInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
}

#addButton {
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

#applyButton {
    padding: 5px 10px;
    border: none;
    background-color: #2ae653;
    cursor: pointer;
}


#taskListContainer {
    border: 1px solid black;
    padding: 10px;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.taskText {
    flex-grow: 1;
}

.taskButtons {
    display: flex;
    align-items: center;
}

.editButton, .deleteButton {
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 0 5px; /* Add margin to buttons */
}

.completeButton {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.completeButton:checked {
    background-color: green;
}


